function Welcomemessage.drawWelcomeMessage 6
    call Screen.clearScreen 0
    pop temp 0
    push constant 50
    pop local 0
    push constant 30
    pop local 1
    push constant 300
    pop local 2
    push constant 60
    pop local 3
    push local 0
    push constant 10
    add
    pop local 4
    push local 1
    push constant 20
    add
    pop local 5
    push local 0
    push local 1
    push local 0
    push local 2
    add
    push local 1
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push local 1
    push local 3
    add
    push local 0
    push local 2
    add
    push local 1
    push local 3
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push local 1
    push local 0
    push local 1
    push local 3
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push local 2
    add
    push local 1
    push local 0
    push local 2
    add
    push local 1
    push local 3
    add
    call Screen.drawLine 4
    pop temp 0
    push local 0
    push local 1
    push constant 10
    add
    push local 0
    push local 2
    add
    push local 1
    push constant 50
    add
    call Screen.drawRectangle 4
    pop temp 0
    push local 4
    push local 5
    push constant 26
    call String.new 1
    push constant 87
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 71
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 115
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 87
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 33
    call String.appendChar 2
    call Welcomemessage.drawText 3
    pop temp 0
    push constant 0
    return
function Welcomemessage.drawText 6
    push constant 5
    pop local 0
    push constant 7
    pop local 1
    push argument 0
    pop local 2
    push argument 1
    pop local 3
    push constant 0
    pop local 4
label L0
    push local 4
    push argument 2
    call constructors.lenofword 1
    lt
    not
    if-goto L1
    push argument 2
    push local 4
    call helper.getCharAt 2
    pop local 5
    push local 5
    push constant 1
    call String.new 1
    push constant 87
    call String.appendChar 2
    eq
    not
    if-goto L3
    push local 2
    push local 3
    call Welcomemessage.drawCharacterW 2
    pop temp 0
    goto L2
label L3
label L2
    push local 5
    push constant 1
    call String.new 1
    push constant 101
    call String.appendChar 2
    eq
    not
    if-goto L5
    push local 2
    push local 3
    call Welcomemessage.drawCharacterE 2
    pop temp 0
    goto L4
label L5
label L4
    push local 5
    push constant 1
    call String.new 1
    push constant 108
    call String.appendChar 2
    eq
    not
    if-goto L7
    push local 2
    push local 3
    call Welcomemessage.drawCharacterL 2
    pop temp 0
    goto L6
label L7
label L6
    push local 5
    push constant 1
    call String.new 1
    push constant 99
    call String.appendChar 2
    eq
    not
    if-goto L9
    push local 2
    push local 3
    call Welcomemessage.drawCharacterC 2
    pop temp 0
    goto L8
label L9
label L8
    push local 5
    push constant 1
    call String.new 1
    push constant 111
    call String.appendChar 2
    eq
    not
    if-goto L11
    push local 2
    push local 3
    call Welcomemessage.drawCharacterO 2
    pop temp 0
    goto L10
label L11
label L10
    push local 5
    push constant 1
    call String.new 1
    push constant 109
    call String.appendChar 2
    eq
    not
    if-goto L13
    push local 2
    push local 3
    call Welcomemessage.drawCharacterM 2
    pop temp 0
    goto L12
label L13
label L12
    push local 5
    push constant 1
    call String.new 1
    push constant 116
    call String.appendChar 2
    eq
    not
    if-goto L15
    push local 2
    push local 3
    call Welcomemessage.drawCharacterT 2
    pop temp 0
    goto L14
label L15
label L14
    push local 5
    push constant 1
    call String.new 1
    push constant 71
    call String.appendChar 2
    eq
    not
    if-goto L17
    push local 2
    push local 3
    call Welcomemessage.drawCharacterG 2
    pop temp 0
    goto L16
label L17
label L16
    push local 5
    push constant 1
    call String.new 1
    push constant 117
    call String.appendChar 2
    eq
    not
    if-goto L19
    push local 2
    push local 3
    call Welcomemessage.drawCharacterU 2
    pop temp 0
    goto L18
label L19
label L18
    push local 5
    push constant 1
    call String.new 1
    push constant 115
    call String.appendChar 2
    eq
    not
    if-goto L21
    push local 2
    push local 3
    call Welcomemessage.drawCharacterS 2
    pop temp 0
    goto L20
label L21
label L20
    push local 5
    push constant 1
    call String.new 1
    push constant 97
    call String.appendChar 2
    eq
    not
    if-goto L23
    push local 2
    push local 3
    call Welcomemessage.drawCharacterA 2
    pop temp 0
    goto L22
label L23
label L22
    push local 5
    push constant 1
    call String.new 1
    push constant 114
    call String.appendChar 2
    eq
    not
    if-goto L25
    push local 2
    push local 3
    call Welcomemessage.drawCharacterR 2
    pop temp 0
    goto L24
label L25
label L24
    push local 5
    push constant 1
    call String.new 1
    push constant 100
    call String.appendChar 2
    eq
    not
    if-goto L27
    push local 2
    push local 3
    call Welcomemessage.drawCharacterD 2
    pop temp 0
    goto L26
label L27
label L26
    push local 2
    push local 0
    add
    pop local 2
    push local 4
    push constant 1
    add
    pop local 4
    goto L0
label L1
    push constant 0
    return
function Welcomemessage.drawCharacterW 0
    push argument 0
    push argument 1
    push argument 0
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push constant 1
    add
    push argument 1
    push argument 0
    push constant 1
    add
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push constant 2
    add
    push argument 1
    push argument 0
    push constant 2
    add
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push constant 3
    add
    push argument 1
    push argument 0
    push constant 3
    add
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push constant 4
    add
    push argument 1
    push argument 0
    push constant 4
    add
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push constant 0
    return
function Welcomemessage.drawCharacterE 0
    push argument 0
    push argument 1
    push argument 0
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push argument 1
    push argument 0
    push constant 4
    add
    push argument 1
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push argument 1
    push constant 3
    add
    push argument 0
    push constant 3
    add
    push argument 1
    push constant 3
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push argument 1
    push constant 6
    add
    push argument 0
    push constant 4
    add
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push constant 0
    return
function Welcomemessage.drawCharacterL 0
    push argument 0
    push argument 1
    push argument 0
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push argument 1
    push constant 6
    add
    push argument 0
    push constant 4
    add
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push constant 0
    return
function Welcomemessage.drawCharacterC 0
    push argument 0
    push argument 1
    push argument 0
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push argument 1
    push argument 0
    push constant 4
    add
    push argument 1
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push argument 1
    push constant 6
    add
    push argument 0
    push constant 4
    add
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push constant 0
    return
function Welcomemessage.drawCharacterO 0
    push argument 0
    push constant 1
    add
    push argument 1
    push argument 0
    push constant 1
    add
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push constant 4
    add
    push argument 1
    push argument 0
    push constant 4
    add
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push argument 1
    push argument 0
    push constant 4
    add
    push argument 1
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push argument 1
    push constant 6
    add
    push argument 0
    push constant 4
    add
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push argument 1
    push argument 0
    push constant 1
    add
    push argument 1
    push constant 1
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push constant 4
    add
    push argument 1
    push argument 0
    push constant 3
    add
    push argument 1
    push constant 1
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push argument 1
    push constant 6
    add
    push argument 0
    push constant 1
    add
    push argument 1
    push constant 5
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push constant 4
    add
    push argument 1
    push constant 6
    add
    push argument 0
    push constant 3
    add
    push argument 1
    push constant 5
    add
    call Screen.drawLine 4
    pop temp 0
    push constant 0
    return
function Welcomemessage.drawCharacterM 0
    push argument 0
    push argument 1
    push argument 0
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push constant 1
    add
    push argument 1
    push argument 0
    push constant 1
    add
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push constant 2
    add
    push argument 1
    push argument 0
    push constant 2
    add
    push argument 1
    push constant 3
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push constant 2
    add
    push argument 1
    push constant 3
    add
    push argument 0
    push constant 3
    add
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push constant 3
    add
    push argument 1
    push argument 0
    push constant 3
    add
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push constant 4
    add
    push argument 1
    push argument 0
    push constant 4
    add
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push constant 0
    return
function Welcomemessage.drawCharacterT 0
    push argument 0
    push argument 1
    push argument 0
    push constant 4
    add
    push argument 1
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push constant 2
    add
    push argument 1
    push argument 0
    push constant 2
    add
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push constant 0
    return
function Welcomemessage.drawCharacterG 0
    push argument 0
    push argument 1
    push argument 0
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push argument 1
    push argument 0
    push constant 4
    add
    push argument 1
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push argument 1
    push constant 6
    add
    push argument 0
    push constant 4
    add
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push constant 4
    add
    push argument 1
    push argument 0
    push constant 4
    add
    push argument 1
    push constant 4
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push constant 2
    add
    push argument 1
    push constant 3
    add
    push argument 0
    push constant 4
    add
    push argument 1
    push constant 3
    add
    call Screen.drawLine 4
    pop temp 0
    push constant 0
    return
function Welcomemessage.drawCharacterU 0
    push argument 0
    push argument 1
    push argument 0
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push constant 4
    add
    push argument 1
    push argument 0
    push constant 4
    add
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push argument 1
    push constant 6
    add
    push argument 0
    push constant 4
    add
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push constant 0
    return
function Welcomemessage.drawCharacterS 0
    push argument 0
    push argument 1
    push argument 0
    push constant 4
    add
    push argument 1
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push argument 1
    push constant 3
    add
    push argument 0
    push constant 4
    add
    push argument 1
    push constant 3
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push argument 1
    push constant 6
    add
    push argument 0
    push constant 4
    add
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push argument 1
    push argument 0
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push constant 0
    return
function Welcomemessage.drawCharacterA 0
    push argument 0
    push argument 1
    push constant 6
    add
    push argument 0
    push constant 4
    add
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push argument 1
    push argument 0
    push constant 2
    add
    push argument 1
    push constant 3
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push constant 2
    add
    push argument 1
    push constant 3
    add
    push argument 0
    push constant 4
    add
    push argument 1
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push constant 1
    add
    push argument 1
    push constant 3
    add
    push argument 0
    push constant 3
    add
    push argument 1
    push constant 3
    add
    call Screen.drawLine 4
    pop temp 0
    push constant 0
    return
function Welcomemessage.drawCharacterR 0
    push argument 0
    push argument 1
    push argument 0
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push argument 1
    push argument 0
    push constant 4
    add
    push argument 1
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push argument 1
    push constant 3
    add
    push argument 0
    push constant 4
    add
    push argument 1
    push constant 3
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push constant 4
    add
    push argument 1
    push argument 0
    push constant 4
    add
    push argument 1
    push constant 3
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push constant 2
    add
    push argument 1
    push constant 3
    add
    push argument 0
    push constant 4
    add
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push constant 0
    return
function Welcomemessage.drawCharacterD 0
    push argument 0
    push argument 1
    push argument 0
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push argument 1
    push argument 0
    push constant 4
    add
    push argument 1
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push argument 1
    push constant 6
    add
    push argument 0
    push constant 4
    add
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push constant 4
    add
    push argument 1
    push argument 0
    push constant 4
    add
    push argument 1
    push constant 6
    add
    call Screen.drawLine 4
    pop temp 0
    push argument 0
    push constant 1
    add
    push argument 1
    push constant 6
    add
    push argument 0
    push constant 4
    add
    push argument 1
    push constant 3
    add
    call Screen.drawLine 4
    pop temp 0
    push constant 0
    return